@model IEnumerable<QL_KhoaHocOnl.Models.COURSE>

@{
    ViewBag.Title = "FillCourse";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="all-title-box">
    <div class="container text-center">
        <h1>Khóa học theo loại<span class="m_1">Ở đây có rất nhiều khóa học hay cho bạn khám phá!</span></h1>
    </div>
</div>
<div id="overviews" class="section wb">
    <div class="container" style="padding:0 5rem;">
        <div class="sort mb-2" style="display:inline-block">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sắp xếp
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item course-title" style="color:black !important" href="/course/index?Sort=Up">
                            <i class="fa fa-arrow-up my-2"></i>Giá tăng dần
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item course-title" style="color:black !important" href="/course/index?Sort=Down">
                            <i class="fa fa-arrow-down"></i>Giá giẩm dần
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item course-title" style="color:black !important" href="/course/index?Sort=UpAz">
                            <i class="fa fa-arrow-down-a-z"></i>A->Z
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item course-title" style="color:black !important" href="/course/index?Sort=DownAz">
                            <i class="fa fa-arrow-up-a-z"></i>Z->A
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sort mb-2" style="display:inline-block">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Lọc khóa học
                </button>
                <ul class="dropdown-menu">
                    @{

                        Html.RenderAction("TypeCoursePartial");
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="course-item">
                        <div class="image-blog">
                            <img style="width:500px; height: 400px;" src="~/Assets/images/@item.THUMBNAIL" alt="" class="img-fluid object-fit-cover">
                        </div>
                        <div class="course-br " style="padding-top :0; ">
                            <div class="course-title" style="height:70px">
                                <h2>@Html.ActionLink(item.NAME_COURSE, "Detail", new { id = item.ID_COURSE })</h2>
                            </div>
                            <div class="course-desc">
                                @if (item.DESCRIPTION_COURSE.Length > 90)
                                {
                                    <p>@item.DESCRIPTION_COURSE.Substring(0, 86)...</p>
                                }
                                else
                                {
                                    <p style="height:50px">@item.DESCRIPTION_COURSE</p>
                                }
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p> Cấp: <span class="text-primary">@item.LEVEL_COURSE</span></p>
                                </div>
                                <div class="col-6">
                                    @if (@item.STATUS_COURSE == "ACTIVE")
                                    {
                                        <p>Tình trạng: <span class="text-success">@item.STATUS_COURSE</span> </p>
                                    }
                                    else
                                    {
                                        <p>Tình trạng: <span class="text-danger">@item.STATUS_COURSE</span> </p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="course-meta-bot">
                            <div class="row">
                                <div class="col-6" style="text-align:center; margin:0 !important;">
                                    <p class="fixmargin text-danger">
                                        @string.Format("{0:0,0 VND}", item.PRICE_COURSE)
                                    </p>
                                </div>
                                @{
                                    if (Session["checkCart"] == "1")
                                    {
                                        Session["checkCart"] = "0";
                                        <script>window.alert("Sản phẩm đã mua");</script>
                                    }
                                    else if (Session["checkCart"] == "2")
                                    {
                                        Session["checkCart"] = "0";
                                        <script>window.alert("Sản phẩm đã có trong giỏ hàng");</script>
                                    }
                                    else
                                    {
                                        <div class="col-6">
                                            <a href="@Url.Action("AddCart", "Cart", new { @idCourse = item.ID_COURSE })" class="btn btn-success">Thêm giỏ hàng</a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            }
        </div><!-- end row -->
        <a class="btn btn-primary" href="/course/index">Quay lại</a>
    </div>
</div>
        