@model QL_KhoaHocOnl.ViewModel.PassWordVM

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h1 style="text-align:center">Thay đổi mật khẩu</h1>
<div class="container ">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Mật khẩu củ</label>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { placeholder = "Old Pass", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-md-2">Mật khẩu mới</label>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { placeholder = "New Password", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-md-2">Xác nhận mật khẩu</label>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thay đổi" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    <div class="m-3">
        <a class="btn btn-primary" href="/Account/DetailUser?id=@Int32.Parse(Request.Cookies["User"]["ID"])">quay lại</a>
    </div>
</div>
